/* COLORS:
yellow: rgb(255, 240, 86);
dark-black: rgb(25, 25, 25);
dark-grey: rgb(157,157,157);
light-grey: rgb(223, 226, 219);
white: rgb(255, 255, 255);
*/

body {
  overflow-y: hidden;
  font-size: 16px;
  text-align: center;
  color: rgb(25, 25, 25);
  background-color: rgb(223, 226, 219);
}

/* LAYOUTS */

.row-layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.row-wrap-layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* TEXT STYLING */

.text-white {
  color: rgb(255, 255, 255);
  text-weight: bold;
}

.extra-small {
 font-size: 12px;
}

.medium {
  font-size: 20px;
}

.large {
  font-size: 27px;
}

.extra-large {
  font-size: 30px;
}

.glyphicon.glyphicon {
  color: rgb(25, 25, 25);
}

/* NAVBAR */

.navbar-fixed-top.navbar-fixed-top {
  top: 0;
  height: auto;
  border-width: 0px !important;
  background-color: rgb(25, 25, 25);
}

.navbar-brand {
  margin-left: 0;
  padding: 0;
  height: 100%;
}

.navbar-brand.navbar-brand:hover {
  background-color: rgb(255, 240, 86);
}

.logo-brand {
  height: 60px;
  margin: 5px;
}

ul#navbar-menu {
  display: block;
  padding-top: 15px;
}

.navbar-inverse .navbar-nav > li > a:focus {
  color: rgb(157,157,157);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  color: rgb(255, 240, 86);
  background: rgb(25, 25, 25);
}

/* FOOTERS */

.transparent-section-footer {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  padding-bottom: 15px;
  text-align: center;
} .btn-next {
     border-radius: 50%;
     background-color: rgb(223, 226, 219);
  }

.col-bg {
  background-color: rgb(255, 255, 87);
  background-color: rgb(255, 255, 87, 0.8);
  border-radius: 5%;
  margin: 10px;
  padding: 10px;
}

a.no-style {
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.btn-next:hover {
  background-color: rgb(255, 240, 86);
}

.footer-fixed-bottom.footer-fixed-bottom {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  padding: 10px;
  text-align: center;
  background-color: rgb(25, 25, 25);
  color: rgb(223, 226, 219);
}

/* #home-page */

[data-anchor="home-page"] {
  background: url('static/home-page-bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

[data-anchor="home-page"] a:hover {
  color: white;
}

/* #about */

#info1, #info2 {
  padding: 15px;
  text-align: left;
  margin: 10px 0 15px 0;
  cursor: pointer;
}

#info1:hover, #info2:hover,
.action-thumbnail:hover,
#trans-tutorial:hover {
  background-color: rgb(255, 255, 87);
}

/* #lokole */

#lokole-img {
  max-width: 300px;
  margin: 15px;
}

/* #help-us */

.action-thumbnail {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 50px;
    margin: 10px;
} .action-thumbnail p {
    font-size: 30px;
    padding-top: 20px;
  }

/* #contact */

#nzola-profile,
#clemens-profile,
#laura-profile {
  width: 80px;
  height: 80px;
  margin: 10px 15px;
}

#image-team img {
  max-width: 425px;
  margin: 0 auto;
}

#image-team, #members-team {
  margin: 10px 20px;
}

.box {
  margin: 10px;
  padding: 5px 20px 5px 20px;
  font-size: 125%;
  font-weight: 700%;
}
.box:hover {
  background-color: rgb(255, 255, 87);
  border-radius: 3px;
  border-left-style: solid;
  border-left-color: rgb(75, 191, 195);
}

/* MOBILE FRIENDLY */

@media (max-width: 700px) {

  #history-convert {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
  }

  .transparent-section-footer.transparent-section-footer {
    visibility: hidden;
  }
}