body {
	background-color: #ffffcc;
	font-size:24px;
	line-height:34px;
	font-family:'Roboto Slab',serif;
}

.content {
	background-color: #fefefe;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-200px;
	margin-top:-200px;
	width:400px;
	height:400px;
	padding: 20px;
	text-align:center;
	border-radius:45px;
}

.victoria {
	font-family:'Pacifico',cursive;
	display:block;
	padding-top:20px;
	font-size:34px;
}

.section {
	padding-top:10px;
	padding-bottom:10px;
}

.lokole {
	font-family:'Lobster Two',cursive;
	font-size:46px;
	display:block;
	padding-bottom:10px;
	padding-top:10px;
	margin:0;
}
