body {
  background-color: rgb(223, 226, 219);
  color: rgb(25, 25, 25);
  font-size: 16px;
  overflow-y: hidden;
  text-align: center;
}

/* LAYOUTS */

.row-layout {
  align-content: center;
  align-items: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.row-wrap-layout {
  align-content: center;
  align-items: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.vertical-layout {
  align-items: flex-start;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* TEXT STYLING */

.text-white {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.extra-small {
  font-size: 12px;
}

.medium {
  font-size: 20px;
}

.large {
  font-size: 27px;
}

.extra-large {
  font-size: 30px;
}

.glyphicon.glyphicon {
  color: rgb(25, 25, 25);
}

/* NAVBAR */

.navbar-fixed-top.navbar-fixed-top {
  background-color: rgb(25, 25, 25);
  border-width: 0 !important;
  height: auto;
  top: 0;
}

.navbar-brand {
  height: 100%;
  margin-left: 0;
  padding: 0;
}

.navbar-brand.navbar-brand:hover {
  background-color: rgb(255, 240, 86);
}

.logo-brand {
  height: 60px;
  margin: 5px;
}

#navbar-menu {
  display: block;
  padding-top: 15px;
}

#menu-icon {
  color: rgb(157,157,157);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background: rgb(25, 25, 25);
  color: rgb(255, 240, 86);
}

/* FOOTERS */

.transparent-section-footer {
  bottom: 0;
  height: auto;
  padding-bottom: 15px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.btn-next {
  background-color: rgb(223, 226, 219);
  border-radius: 50%;
}

.col-bg {
  background-color: rgb(255, 255, 87, 0.8);
  border-radius: 5%;
  margin: 10px;
  padding: 10px;
}

a.no-style {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.btn-next:hover {
  background-color: rgb(255, 240, 86);
}

.footer-fixed-bottom.footer-fixed-bottom {
  background-color: rgb(25, 25, 25);
  bottom: 0;
  color: rgb(223, 226, 219);
  height: auto;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}

/* #home-page */

#home {
  background: url('static/home-page-bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

#home a:hover,
#home a:focus {
  color: white;
}

/* #about */

#info1,
#info2 {
  cursor: pointer;
  margin: 10px 0 10px 10px;
  padding: 15px;
  text-align: left;
}

#info1:hover,
#info2:hover,
.action-thumbnail:hover,
#trans-tutorial:hover {
  background-color: rgb(255, 255, 87);
}

.modal-body.modal-body {
  text-align: left;
}

/* #lokole */

#lokole-intro {
  margin: 15px;
}

#lokole-img {
  margin: 15px;
  max-width: 300px;
}

/* #help-us */

.action-thumbnail {
  align-content: center;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  font-size: 50px;
  height: 150px;
  justify-content: center;
  margin: 10px;
  width: 150px;
}

.action-thumbnail p {
  padding-top: 20px;
}

/* #news */

.box {
  font-size: 125%;
  font-weight: 700;
  margin: 10px;
  padding: 5px 20px 5px 20px;
}

.box:hover {
  background-color: rgb(255, 255, 87);
  border-left-color: rgb(75, 191, 195);
  border-left-style: solid;
  border-radius: 3px;
}

/* #contact */

#nzola-profile,
#clemens-profile,
#laura-profile {
  margin: 10px 15px;
  width: 80px;
}

#image-team img {
  margin: 0 auto;
  width: 425px;
}

#image-team,
#members-team {
  margin: 10px 20px;
}

/*** MOBILE FRIENDLY ***/

@media (max-width: 700px) {

  #history-convert {
    align-content: center;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .transparent-section-footer.transparent-section-footer,
  .footer-fixed-bottom.footer-fixed-bottom {
    visibility: hidden;
  }
}

@media (max-height: 700px) {
  .btn-next {
    display: none;
  }
}
